/*此为笔者网站较为个性化的鼠标指针样式，可结合个人需要自行修改*/
body {
	cursor: url(TriangularLime/Arrow.cur), default;
}
select{
	cursor: url(TriangularLime/Hand.cur), pointer;
}
button,a:hover,head , span{
	cursor: url(TriangularLime/Hand.cur), pointer;
}
input{
	cursor:url(TriangularLime/Help.cur), text;	
}
textarea,input:focus{
	cursor:url(TriangularLime/IBeam.cur), text;	
}
code{
	cursor: url(TriangularLime/Pen.cur), default;	
}
pre>code{
	cursor: url(TriangularLime/Pin.cur), default;	
}

#nav #site-name, #page-header #scroll-down, #nav .site-page, time{
	cursor: url(TriangularLime/Hand.cur), pointer;
}

#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap > .post-meta-date{
	cursor: url(TriangularLime/Arrow.cur), default;
}